<section class="feature-list">
    <div class="feature-list__container">
        <article class="feature">
            <i class="fas fa-server fa-3x"></i>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas nemo saepe corrupti et dolorem voluptate at, nostrum
                rem voluptatem ab alias quia molestiae ea, libero nihil
                deserunt. Molestias, eum? Necessitatibus!
            </p>
        </article>
        <article class="feature">
            <i class="fas fa-network-wired fa-3x"></i>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Ducimus recusandae perferendis culpa, reiciendis a itaque
                debitis qui vel dignissimos ipsum!
            </p>
        </article>
        <article class="feature">
            <i class="fas fa-laptop-code fa-3x"></i>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Debitis, magnam.
            </p>
        </article>
        <article class="feature">
            <i class="fas fa-database fa-3x"></i>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                a!
            </p>
        </article>
        <article class="feature">
            <i class="fas fa-power-off fa-3x"></i>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Debitis, magnam.
            </p>
        </article>
        <article class="feature">
            <i class="fas fa-upload fa-3x"></i>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Debitis, magnam.
            </p>
        </article>
    </div>
</section>
