<section class="features-hero">
    <div class="features-hero__container">
        <div>
            <h1 class="features-hero__heading">Features</h1>
            <p class="features-hero__description">
                Check out the featurs of Loruki that separate us from the
                competition
            </p>
        </div>
        <img class="features-hero__img" src="img/server.png" alt="" />
    </div>
</section>
