<section class="features-sub-hero">
    <div class="features-sub-hero__container">
        <div>
            <h1 class="features-sub-hero__heading">The Loruki Platform</h1>
            <p class="features-sub-hero__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                fugit modi odio nulla. Perspiciatis porro cum voluptas
                blanditiis voluptate. Quas ea veritatis voluptatibus numquam
                nesciunt perspiciatis magni rerum odio itaque!
            </p>
        </div>
        <img class="features-sub-hero__img" src="img/server2.png" alt="" />
    </div>
</section>
