$color-black: #000;
$color-shadow: rgba($color-black, 0.2);
$color-white: #fff;

$color-border: #b4becb;
$color-grey-dark: #333;
$color-primary: #047aed;
$color-secondary: #1c3fa8;
$color-dark: #002240;
$color-light: #f4f4f4;
$color-success: #5cb85c;
$color-error: #d9534f;

$font-weight-normal: 300;
$font-weight-bold: 700;
