// HERO
.features-hero {
    @extend .bg--primary;
    @extend .py--3;

    &__container {
        @extend .container;
        @extend .grid;

        @extend .grid--responsive-1-col;
    }

    &__heading {
        @extend .xl;
        @include respond(tablet) {
            text-align: center;
        }
    }

    &__description {
        @extend .lead;
        @include respond(tablet) {
            text-align: center;
        }
    }

    &__img {
        width: 20rem;
        justify-self: end;

        @include respond(tablet) {
            justify-self: center;
        }
    }
}

// SUB-HERO
.features-sub-hero {
    @extend .bg--light;
    @extend .py--3;

    &__container {
        @extend .container;
        @extend .grid;

        @extend .grid--responsive-1-col;
    }

    &__heading {
        @extend .md;
        @include respond(tablet) {
            text-align: center;
        }
    }

    &__description {
        @extend .lead;
        @include respond(tablet) {
            text-align: center;
        }
    }

    &__img {
        width: 30rem;
        justify-self: end;

        @include respond(tablet) {
            justify-self: center;
        }
    }
}

// FEATURE LIST
.feature-list {
    &__container {
        @extend .container;
        @extend .grid;
        @extend .grid--3-cols;

        padding: 3rem;

        @extend .grid--responsive-1-col;
    }
}

.feature {
    @extend .card;
    @extend .flex;

    gap: 2rem;

    @include respond(phone) {
        flex-direction: column;
    }

    &:first-child {
        grid-column: 1 / span 3;

        @include respond(tablet) {
            grid-column: 1;
        }
    }

    &:nth-child(2) {
        grid-column: 1 / span 2;

        @include respond(tablet) {
            grid-column: 1;
        }
    }
}
