<nav class="nav">
    <ul class="nav__links">
        <li><a class="nav__link" href="index.html">Home</a></li>
        <li><a class="nav__link" href="features.html">Features</a></li>
        <li><a class="nav__link" href="docs.html">Docs</a></li>
    </ul>
</nav>
