<section class="docs-hero">
    <div class="docs-hero__container">
        <div>
            <h1 class="docs-hero__heading">Docs</h1>
            <p class="docs-hero__description">
                Learn how to work with the Loruki platform
            </p>
        </div>
        <img class="docs-hero__img" src="img/docs.png" alt="" />
    </div>
</section>
