<footer class="footer">
    <div class="footer__container">
        <div>
            <h1>Loruki</h1>
            <p>Copyright &copy; 2024.</p>
        </div>
        <nav>
            <ul>
                <li><a class="footer__link" href="index.html">Home</a></li>
                <li>
                    <a class="footer__link" href="features.html">Features</a>
                </li>
                <li><a class="footer__link" href="docs.html">Docs</a></li>
            </ul>
        </nav>
        <div class="footer__social-container">
            <a href="#" class="footer__social-link"
                ><i class="fab fa-github fa-2x"></i
            ></a>
            <a href="#" class="footer__social-link"
                ><i class="fab fa-facebook fa-2x"></i
            ></a>
            <a href="#" class="footer__social-link"
                ><i class="fab fa-twitter fa-2x"></i
            ></a>
            <a href="#" class="footer__social-link"
                ><i class="fab fa-instagram fa-2x"></i
            ></a>
        </div>
    </div>
</footer>
