<section class="cli">
    <div class="cli__container">
        <img class="cli__img" src="img/cli.png" alt="" />
        <aside class="cli__feature card">
            <h3>Easy to use, cross-platform CLI</h3>
        </aside>
        <aside class="cli__feature card">
            <h3>Deploy in seconds</h3>
        </aside>
    </div>
</section>
