<section class="cloud">
    <div class="cloud__container">
        <div class="cloud__text">
            <h2 class="cloud__heading">Extreme Cloud Hosting</h2>
            <p class="cloud__description">
                Cloud Hosting like you've never seen. Fast, efficient, and
                scalable.
            </p>
            <a href="features.html" class="btn btn--dark">Read More</a>
        </div>
        <img src="img/cloud.png" alt="" />
    </div>
</section>
