<section class="showcase">
    <div class="showcase__container">
        <div class="showcase__text">
            <h2 class="showcase__heading">Easier Deployment</h2>
            <p class="showcase__description">
                Deploy web apps of all kinds, from large scale enterprise APIs
                to static websites for individuals. Fill out the form to try a
                demo of our platform.
            </p>
            <a href="features.html" class="btn btn--outline">Read More</a>
        </div>

        <div class="showcase__form"><%- include('showcase-form') %></div>
    </div>
</section>
