<article class="doc-page">
    <h2>Introduction</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi,
        exercitationem fuga, reiciendis ducimus odit enim sapiente nemo iusto
        quia accusamus fugit ex amet dolore ipsam, rerum explicabo illum ea
        distinctio!
    </p>
    <div class="alert alert--success">
        <i class="fas fa-info alert__icon"></i>Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Aliquid, obcaecati.
    </div>

    <h3 class="doc-page__heading">Lorem, ipsum dolor.</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At fuga
        exercitationem animi ea magni delectus quidem nisi atque reprehenderit
        tempore.
    </p>
    <a href="#" class="btn btn--primary">Install CLI</a>

    <h3 class="doc-page__heading">Requirements</h3>
    <ul>
        <li>Windows 11, Mac OS, Linux</li>
        <li>Node.js v20 or higher</li>
    </ul>

    <h3 class="doc-page__heading">Install</h3>
    <p>NPM</p>
    <pre><code>$ npm install loruki-cli</code></pre>
    <p>Yarn (Homebrew)</p>
    <pre><code>$ yarn install loruki-cli</code></pre>
    <p>Mac (Homebrew)</p>
    <pre><code>$ brew install loruki-cli</code></pre>
</article>
